{% extends 'base.html.twig' %}

{% block title %}Modifier un service{% endblock %}

{% block body %}

<div class="main">

        <div class="header"><h2>Modifier un service</h2></div>

        <form action="{{ path ('traitement_editService') }}" method="POST">

                <label>Nom Service</label><input type="text" name="nom" value="{{ service.nom }}"></input></br>
                <label>Prix Service</label><input type="text" name="prix" value="{{ service.prix }}"></input></br>
                <input type="hidden" name="id" value= "{{ service.id }}"></input></br>
                <input type="submit"></input>

        </form>
</div>
{% endblock %}