{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="main">
    {% if app.user %}

        <div class="header"><h2>Bienvenu! {{ app.user.nom}}</h2></div>
    {% endif %}

</div>
{% endblock %}
