
{% extends 'base.html.twig' %}

{% block title %}Inserer photo!{% endblock %}

{% block body %}

<h3>Inserer photo</h3>
{{ form_start (formulaire) }}
{{ form_widget (formulaire) }}
<input type="submit" value="Inserer">
{{ form_end(formulaire) }}

{% endblock %}