.pagination{
    list-style: none;
    padding: 15px;;
}

ul.pagination li {
    padding: 5px 5px;
    display: inline-block;
}

.page-link{
    color: #8f5907 ;
    font-weight: 800;
}
h2{
    color: #8f5907 ;
}

.header{
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
    width: 100%;
    padding: 0.5%;
    box-shadow:  0 1px 15px 1px rgba(39,39,39,.1);
    border-radius: .1875rem;
    margin-bottom: 5%;
}

.title {
    font-size: 250%;
    color: #8f5907 ;
    font-family: 'Chicle', cursive;
    font-weight: 1000;
}
.title2 {
    font-size: 350%;
    color: #8f5907 ;
    font-family: 'Chicle', cursive;
    font-weight: 1000;
}
.space{
    height:5%;
}

input[type=text],[type=date],[type=file],[type=email],[type=password], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

input[type=submit], .xlBtn , #btn{
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
    color: #8f5907 ;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
  }


input[type=submit]:hover {
    background-position: right center;
}

.sideNav {
    height: 90%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 1%;
    overflow-x: hidden;
    padding: 1.5%;
    box-shadow:  0 1px 15px 1px rgba(39,39,39,.1);
    border-radius: .1875rem;
  }
  
.sideNav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
}

.sideNav a:hover{
    background: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}
.line{
    color:1px solid rgba(255,255,255,.15);
}

.main{
    padding: 0 15% 0 20%;
}
.topNav {
    overflow: hidden;
  }
  
ul.topNav li {
    float: right;
    text-decoration: none;
    display: inline-block;
}

i{
    background: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    padding-right: 3%;
}

.navItem{
    color: #8f5907 ;
    font-weight: 600;
}

label {
    display: flex;
    flex-direction: row;  
}

button{
    text-decoration: none;
    background-color: transparent;
    outline: none ;
    box-shadow: none ;
    border:none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th{
    color:#8f5907 ;
}
  
td, th {
    text-align: left;
    padding: 8px;
}
td:hover{
    background-color: rgb(231, 224, 182);
}  
tr:nth-child(even) {
    background-color: rgb(247, 242, 214);
}

.imgClient{
    width:50%;
    height: 50%;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .5);
}
.info{
    font-size: 18px;
    padding-top: 2%;
}

.xlBtn{
    margin-top: 2%;
}

.conteneur{
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}
.infoPhoto{
    padding-left: 5%;
}

#btn{
    width: 60px;;
    margin-bottom: 2%;
}

.meteo{
    background-image: url('/assets/images/centre2.jpg'); 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    font-size: larger;
    color: #8f5907;
    font-weight: bolder;
}

.imgMeteo{
    width : 100px;
    height : 100px;
}

form, .infoClient, .meteo{
    box-shadow:  0 1px 15px 1px rgba(39,39,39,.1);
    border-radius: .1875rem;
    padding: 5%;
    margin: 3% 0;
}
.infoClient{
    /* width: 50%; */
    font-size: larger;
    text-align: center;
    margin: 0 auto;
}
.about, .map{
    font-size: 20px;
    box-shadow:  0 1px 15px 1px rgba(39,39,39,.1);
    border-radius: .1875rem;
    margin: 2%;
}
.about{
    text-align: center;
    padding: 2% 20%;
}
.map{
    display: flex;
    flex-direction: row;
    padding: 2% ;
}
.imgCabinet2{
    width: 450px;
    height: 300px;
    padding-left: 30px;
}
.imgMap{
    padding-right: 30px;
}
.serviceClient{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    box-shadow:  0 1px 15px 1px rgba(39,39,39,.1);
    border-radius: .1875rem;
    padding: 2%;
    margin: 2%;
}
.prix{
    color:rgba(255, 145, 0, 0.808);
    padding-left: 1%;
}

