
body{
     padding: 5%;
}
  
ul.list-header li{
    padding: 5px 13px;
    display: inline-block;
    font-weight: 1000;
}
.list-inline
.list-header {
    /* display: flex;
    flex-direction: row; */
    justify-content: center;
}

ul.list-inline {
    list-style: georgian inside;
}

ul.list-inline li {
    padding: 5px 35px;
    display: inline-block;
}

.pagination{
    list-style: none;
    padding: 15px;;
}

ul.pagination li {
    padding: 5px 5px;
    display: inline-block;
}