{% extends 'base.html.twig' %}

{% block title %}Afficher graphe{% endblock %}

{% block body %}

<div class="main">
<div class="header"><h2>Afficher graphe</h2></div>
<form id="grapheForm">
    <label>Entrez l'anée</label><input type="text" name="year" placeholder="Exemple: 2015">
    <input id="btn_envoyer" type="submit"></input>
</form>

<div class="container" id="container">
    
</div>

</div>
{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script  src="{{ asset ('/assets/js/graphe.js') }}"></script>

{% endblock %}