{% extends 'base.html.twig' %}

{% block title %}Rechercher un prestation{% endblock %}

{% block body %}

<h3>Rechercher un prestation</h3>

<form id="leFormulaire">

        <label>Date debut</label></br>
        <input required type="date" name="dateDebut"></input></br>
        <label>Date fin</label></br>
        <input required type="date" name="dateFin"></input></br>
        <input id="btn_envoyer" type="submit"></input>
</form>
<div id="contenu"></div>



{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script  src="{{ asset ('/assets/js/prestation.js') }}"></script>

{% endblock %}