{% extends 'base.html.twig' %}

{% block title %}Rechercher un prestation{% endblock %}

{% block body %}


<div class="main">
<div class="header"><h2>Rechercher un prestation</h2></div>

<form action="{{ path ('prestation_rechercherTraitement') }}" method="POST">

        <label>Date debut</label><input required type="date" name="dateDebut"></input></br>
        <label>Date fin</label><input required type="date" name="dateFin"></input></br>
        <button type="submit">rechercher</button>
</form>
</div>

{% endblock %}