{% extends 'base.html.twig' %}

{% block title %}Rechercher un prestation{% endblock %}

{% block body %}

<h2>Rechercher un prestation</h2>

<form id="leFormulaire">

        <label>Date debut</label><input required type="date" name="dateDebut"></input></br>
        <label>Date fin</label><input required type="date" name="dateFin"></input></br>
        <button id="btn_envoyer" type="submit">rechercher</button>
</form>
<div id="contenu"></div>



{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
btn_envoyer.addEventListener ("click", (event) => {
    event.preventDefault ();

    axios ({
        url : '{{ path ("rechercheTraitementAjax") }}',
        method : 'POST',
        headers: {'Content-Type': 'multipart/form-data'},
        data: new FormData (leFormulaire)
    })
    .then (function (response){
        
        let arrayPrestations = response.data;
        document.getElementById('contenu').innerHTML="";
  

        const headerTable= ['Date Service', 'Nom Client', 'Nom Service', 'Carte Bancaire', 'Prix Service'];
        let ulHeader = document.createElement('ul');
       
        
        for( el of headerTable){
            let li= document.createElement('li');
            li.innerText = el;
            ulHeader.appendChild(li);
            ulHeader.appendChild(li);
        }
        document.getElementById('contenu').appendChild(ulHeader);
        ulHeader.classList.add("list-header");
      

        function createLi(article){
            let li= document.createElement('li');
            li.innerText = article;
            ul.appendChild(li);
        }

        
      let ul = document.createElement('ul');
      ul.classList.add("list-inline");
      for(let i = 0; i< arrayPrestations.length; i++){
        let br = document.createElement("BR");
        ul.appendChild(br);
        createLi(arrayPrestations[i].datePrestation.date.substring(0,10));
        createLi(arrayPrestations[i].client.prenom.charAt(0).toUpperCase() + arrayPrestations[i].client.prenom.slice(1));
        createLi(arrayPrestations[i].service.nom.charAt(0).toUpperCase() + arrayPrestations[i].service.nom.slice(1));
        createLi(arrayPrestations[i].carteBancaire === true ? "Oui":"Non");
        createLi(arrayPrestations[i].prixService);
        
      }
      document.getElementById('contenu').appendChild(ul);


       let total = 0;
        for(el of arrayPrestations){
           total += parseInt(el.prixService);
        }
        let prixTotal = document.createElement('div');
        prixTotal.innerText = "Le total pour cette periode est:    " + total + "euro.";
        document.getElementById('contenu').appendChild(prixTotal);
        
    })
    .catch (function (error){
        console.log (error);
    });
});
</script>
{% endblock %}