{% extends 'base.html.twig' %}

{% block title %}Inserer un nouveau prestation!{% endblock %}

{% block body %}

<h3>Inserer Prestation</h3>

{{ form_start (formulaire) }}</br>
{{ form_widget (formulaire) }}
<input type="submit" value="Inserer">
{{ form_end(formulaire) }}

{% endblock %}

