{% extends 'base.html.twig' %}

{% block title %}Inserer un nouveau service!{% endblock %}

{% block body %}
<div class="main">
<div class="header"><h2>Inserer Client</h2></div>

{{ form_start (formulaire) }}
{{ form_widget (formulaire) }}
<input  type="submit" value="Inserer">
{{ form_end(formulaire) }}

</div>
{% endblock %}

