{% extends 'base.html.twig' %}

{% block title %}Error delete client{% endblock %}

{% block body %}

<div class="main">

<div class="header"><h2>Un erreur c'est produit!!!</h2></div>

<div><i class="fas fa-exclamation-triangle"></i> {{ msg }}</div>

</div>
{% endblock %}