{% extends 'base.html.twig' %}

{% block title %}Inserer un nouveau service!{% endblock %}

{% block body %}
<div class="main">
<h1 class="h4 text-gray-900 mb-4">Inserer Client</h1>

{{ form_start (formulaire) }}
{{ form_widget (formulaire) }}
<input  type="submit" value="Inserer">
{{ form_end(formulaire) }}

</div>
{% endblock %}

