
{% extends 'base.html.twig' %}

{% block title %}Modifier un client{% endblock %}

{% block body %}


<div class="main">
<div class="header"><h2>Selectioner un client</h2></div>

<form action="{{ path ('traitement_rechercheClient') }}" method="POST">

    <label>Selectionez le prenom:</label>
    <select name="clientId">
        {% for valeur in clients %}
        <option value = {{ valeur.id }} >{{ valeur.prenom  | capitalize}} {{ valeur.nom  | capitalize}}  </option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>  

</form>

</div>
{% endblock %}