<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <ul>
            <strong>User</strong>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <strong>Service</strong>
            <li><a href="/service/insert">Inserer Service</a></li>
            <li><a href="/service/afficher">Afficher Service</a></li>
            <strong>Client</strong>
            <li><a href="/client/insert">Inserer Client</a></li>
            <li><a href="/client/afficher">Afficher Client</a></li>
            <strong>Prestation</strong>
            <li><a href="/prestation/insert">Inserer Prestation</a></li>
            <li><a href="/prestation/afficher">Afficher Prestation</a></li>
            <li><a href="/prestation/rechercher">Rechercher Prestation</a></li>
            <li><a href="/prestation/graphe">Graphe Prestation</a></li>
            

          </ul>
          <hr>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
